.clearfix::after, .clearfix::before{float:none;clear:both;content:"";display:block;}
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }


.red{background-color:red}

/* header */
#nickname{border:2px  solid #a0a0a0;border-left-width:10px}

/* end header  */
/* ----------------------------------------------------------- */

/* place for the game */
.game-container{height:500px;background-color:#eee;}
.game-player{height:50px;background-color:pink;width:32%;margin:1px;display:inline-block}
/* chatroom */
.chatrooms-container{height:50%;}
.mini-chatroom-container{width:50%;border:1px solid black;position:relative;float:left;height:300px;overflow-y:auto;}


form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 50%; }
#form-public{left:0}
#form-garou{right:0}

form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.chatrooms { list-style-type: none; margin: 0; padding: 0;position:absolute;top:0;min-height:200px;width:100%}
.chatrooms li { padding: 5px 10px;word-break:break-all;}
.chatrooms li:nth-child(even) { background: #eee; }
#messages-garou li:nth-child(odd){background:red}
